  {% if highlight %}
    <ul id="">
      <li><h3>Standart løsninger</h3></li>
    {% for item in highlight %}
      <li>
        <span>{{ item.date }}</span>
        <a href="/article/{{ item.slug }}">{{ item.title }}</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
