{% extends layout %}

{% block title%}kontakt os / {% endblock %}

{% block teaser %}
  <section id="teaser">
    <a href="/" title="til forsiden"><img src="/fx/img/design/grass-house-trans.png" /></a>
    <p>Kontakt til Mean ApS kan gøres på to måder:</p>
    <ol>
      <li>af dem der kan</li>
      <li>af dem der ikke kan</li>
    </ol>
    <p>Alle der kan, kan bruge formularen herunder og så vil vi vende tilbage så snart vi har mulighed for det.</p>
    <p>I andre må benytte telefonnummeret nederest på siden her.</p>
  </section>
{% endblock %}

{% block content %}

<article>
  <h2>kontaktformular</h2>
  <form action="/hvor" method="post">
    <table>
      <tr>
        <th>navn: </th>
        <td><input type="text" name="name" class="required" /></td>
      </tr>
      <tr>
        <th>email: </th>
        <td><input type="email" name="email" class="required" /></td>
      </tr>
      <tr>
        <th>firma: </th>
        <td><input type="text" name="company" class="" /></td>
      </tr>
      <tr>
        <th>emne: </th>
        <td><input type="text" name="subject" class="" /></td>
      </tr>
      <tr>
        <th>besked: </th>
        <td><textarea name="message" class="required"></textarea></td>
      </tr>
      <tr>
        <th></th>
        <td>
          <input type="submit" value="Send besked" />
          <input type="hidden" value="" name="qemu" id="qemu" />
        </td>
      </tr>
    </table>
  </form>
</article>

{% endblock %}

{% block aside %}
  <aside>
    {% include "_employees.html.twig" %}
  </aside>
{% endblock %}
