{% extends layout %}

{% block teaser %}
  <section id="teaser">
    <a href="/" title="til forsiden"><img src="/fx/img/design/grass-house-trans.png" /></a>
    <p>Mean IT ApS tilbyder rådgivning og service til udvikling og drift af løsninger til alt indenfor kommunikation, marketing, salg og service via Internettet.</p>
    <p>Vores fokus er ”økologisk“ - det er baseret på indsigt i din forretning og individualiseret service i verdensklasse - uden skadelige tilsætningsstoffer.</p>
    <p>Vi lægger vægt på at fastholde og videreudvikle et højt fagligt niveau i såvel program udvikling som projekt gennemførelse og teknisk drift.</p>
  </section>
{% endblock %}


{% block content %}

  {% set context = 'teaser' %}
  {% for article in articles %}
    {% include '_article-item.html.twig' %}
  {% endfor %}

{% endblock %}

{% block aside %}
  <aside>
  {% include '_highlight.html.twig' %}
  {% include '_tweets.html.twig' %}
  </aside>
{% endblock %}
