{% extends layout %}

{% block teaser %}
  <section id="teaser">
    <img src="/fx/img/design/grass-house-trans.png" />
    <p>Bellcom Open Source ApS tilbyder rådgivning og service til udvikling og drift af løsninger til alt indenfor kommunikation, marketing, salg og service via Internettet.</p>
    <p>Vores fokus er ”økologisk“ - det er baseret på indsigt i din forretning og individualiseret service i verdensklasse - uden skadelige tilsætningsstoffer.</p>
    <p>Vi lægger vægt på at fastholde og videreudvikle et højt fagligt niveau i såvel program udvikling som projekt gennemførelse og teknisk drift.</p>
  </section>
{% endblock %}


{% block content %}

{% if 0 %}
    <article>
      <h2>10 ting du bør vide om html5</h2>
      <section class="info">
        <time datetime="2011-01-20">d: 20.01.2011</time>
        <span class="author"><a href="">ulik nielsen</a></span>
        <span class="tags"><a href="">html5</a></span>
      </section>
      <p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Nunc ullamcorper tellus ac enim egestas facilisis. Fusce eleifend, neque eget accumsan hendrerit, diam ante dignissim sapien, nec pellentesque tellus ipsum et ante. Vestibulum a dui a velit condimentum congue. Nam vitae dui arcu, id dictum magna. Nunc pretium ullamcorper mauris nec blandit. Etiam faucibus placerat velit, sed tincidunt tortor elementum a. Nulla viverra molestie ullamcorper. Quisque sagittis ante eu sem ullamcorper et rhoncus mauris facilisis. Nam ut felis nec neque tempus lobortis eu at lorem. Mauris quam nibh, ultricies ac accumsan sed, dictum a felis. Vivamus et sapien mi. Nunc sagittis, turpis non suscipit placerat, tortor dui bibendum massa, a bibendum justo purus sed diam. Praesent condimentum condimentum ornare. Suspendisse porttitor erat non magna commodo porta.</p>
      <ul>
        <li>ai <a href="">aldjaklsdæjasædfkjaæsldfkjæasdfs</a> jsdhikdslfh</li>
        <li>ai aldjaklsdæja sædfkjaæsldfk jæasdfs</li>
        <li>ai aldjak lsdæjasædfkjaæs ldfkjæasdfs</li>
      </ul>
      <p>Donec at lectus ut tortor mattis convallis quis nec ligula. <em>Curabitur consectetur augue vitae augue</em> venenatis quis iaculis dui sollicitudin. Integer pellentesque nisi eu arcu sodales a facilisis quam blandit. Curabitur quam nibh, rutrum sed accumsan at, elementum quis magna. Proin dictum gravida euismod. Maecenas malesuada, purus ut posuere molestie, elit nunc consectetur mi, id dignissim velit lorem at dui. Donec hendrerit vulputate leo eget porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Cras porttitor lacus et neque elementum dictum. Praesent condimentum libero quam. Ut sit amet nisi tortor. In hendrerit blandit urna, sit amet euismod ipsum tempor ac.</p>
      <blockquote>a kjsldhasdfhasd fhalskdhfalks jdhflaksdhf lkashdflkasdhf asdhfklasdh flasdf </blockquote>
      <p>s dfhlasdhflkhlfkhalksdf haslkjahflksdfh</p>
    </article>

    <article>
      <h2>esbjerg bibliotek</h2>
      <section class="info">
        <time datetime="2011-01-20">d: 20.01.2011</time>
        <span class="author"><a href="">ulik nielsen</a></span>
        <span class="tags"><a href="">drupal</a>, <a href="">ding</a></span>
      </section>
      <div class="img">
        <img src="/fx/img/esbib.png" title="aljsdfæa a lasdf" alt="a aosidf askjfaælskjæ" />
        <span>©asd - aoisjdflasjd aælsjdf ælasdf</span>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper tellus ac enim egestas facilisis. Fusce eleifend, neque eget accumsan hendrerit, diam ante dignissim sapien, nec pellentesque tellus ipsum et ante. Vestibulum a dui a velit condimentum congue. Nam vitae dui arcu, id dictum magna. Nunc pretium ullamcorper mauris nec blandit. Etiam faucibus placerat velit, sed tincidunt tortor elementum a. Nulla viverra molestie ullamcorper. Quisque sagittis ante eu sem ullamcorper et rhoncus mauris facilisis. Nam ut felis nec neque tempus lobortis eu at lorem. Mauris quam nibh, ultricies ac accumsan sed, dictum a felis. Vivamus et sapien mi. Nunc sagittis, turpis non suscipit placerat, tortor dui bibendum massa, a bibendum justo purus sed diam. Praesent condimentum condimentum ornare. Suspendisse porttitor erat non magna commodo porta.</p>
    </article>

    <article>
      <h2>next library</h2>
      <section class="info">
        <time datetime="2011-01-20">d: 20.01.2011</time>
        <span class="author"><a href="">ulik nielsen</a></span>
        <span class="tags"><a href="">drupal</a>, <a href="">commons</a>, <a href="">media queries</a></span>
      </section>
      <div class="img">
        <img src="/fx/img/next.png" title="aljsdfæa a lasdf" alt="a aosidf askjfaælskjæ" />
        <span>©laslll - aoisjdflasjd aælsjdf ælasdf</span>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper tellus ac enim egestas facilisis. Fusce eleifend, neque eget accumsan hendrerit, diam ante dignissim sapien, nec pellentesque tellus ipsum et ante. Vestibulum a dui a velit condimentum congue. Nam vitae dui arcu, id dictum magna. Nunc pretium ullamcorper mauris nec blandit. Etiam faucibus placerat velit, sed tincidunt tortor elementum a. Nulla viverra molestie ullamcorper. Quisque sagittis ante eu sem ullamcorper et rhoncus mauris facilisis. Nam ut felis nec neque tempus lobortis eu at lorem. Mauris quam nibh, ultricies ac accumsan sed, dictum a felis. Vivamus et sapien mi. Nunc sagittis, turpis non suscipit placerat, tortor dui bibendum massa, a bibendum justo purus sed diam. Praesent condimentum condimentum ornare. Suspendisse porttitor erat non magna commodo porta.</p>
      <p>Donec at lectus ut tortor mattis convallis quis nec ligula. Curabitur consectetur augue vitae augue venenatis quis iaculis dui sollicitudin. Integer pellentesque nisi eu arcu sodales a facilisis quam blandit. Curabitur quam nibh, rutrum sed accumsan at, elementum quis magna. Proin dictum gravida euismod. Maecenas malesuada, purus ut posuere molestie, elit nunc consectetur mi, id dignissim velit lorem at dui. Donec hendrerit vulputate leo eget porta. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In hac habitasse platea dictumst. Cras porttitor lacus et neque elementum dictum. Praesent condimentum libero quam. Ut sit amet nisi tortor. In hendrerit blandit urna, sit amet euismod ipsum tempor ac.</p>
    </article>

    <hr />
{% endif %}

  {% set context = 'teaser' %}
  {% for article in articles %}
    {% include '_article-item.html.twig' %}
  {% endfor %}

{% endblock %}

{% block aside %}
  {% include '_tweets.html.twig' %}
{% endblock %}
