{% extends layout %}

{% block title%}{{ article.title }} / {% endblock %}

{% block teaser %}
  <section id="teaser">
    <img src="/fx/img/design/grass-house-trans.png" />
  {% if article.manchet %}
    {{ article.manchet|raw }}
  {% endif %}
  </section>
{% endblock %}

{% block content %}
  {% include '_article-item.html.twig' %}
{% endblock %}

{% block aside %}
  {% include '_tweets.html.twig' %}
{% endblock %}
